### Django ###
*.pyc
db.sqlite3
# media

### Node ###
# Logs
# logs

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
.coverage
htmlcov

# Static files
static_files/
static/
